/*
 *
 */

 #sharer-outer-wrapper.sharer-second {
  background-color: #f3f3f3;
 }

h2, h3, h4, h5, h6 {
    font-family: 'Futura W02 Medium', Futura, Helvetica,Verdana,Arial,sans-serif;
    letter-spacing: 0.01em;
    padding-bottom: 12px;
    font-weight: 600;

}

.nav-button {
    font-size: 14px;
    padding: 5px;
    margin: 5px;
}

.viz-category h4 {
    font-size: 15px;
}

h5, p.chart-note {
    font-family: Lato,Verdana,Arial,sans-serif;
    font-size: 14px;
    
}

p.chart-note {
  font-size: 13px;
  width: 100%;
}

body {
    background-color: #f3f3f3;
    color: #3b342b;
    font-family: Lato,Verdana,Arial,sans-serif;
}

p.country-label {
    font-size: 11px;
    text-align: center;
    width: 91px;

}

.series-0 rect, rect.series-0 {
    fill: #438390;
}

.series-1 rect, rect.series-1 {
    fill: #564e34;
}

.series-2 rect, rect.series-2 {
    fill: #1fa9b8;
}

.series-3 rect, rect.series-3 {
    fill: #898167;
}

.series-4 rect, rect.series-4 {
    fill: #5ED6E4;
}

.series-5 rect, rect.series-5 {
    fill: #C2B793;
}

.series-6 rect, rect.series-6 {
    fill: #9CA9D3;
}

.series-7 rect, rect.series-7 {
    fill: #9FBFF7;
}

.informal {
    fill-opacity:0.7;
}

.viz-container {
    width:550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25px;
    
 
}

.viz-category {
    display: flex;
    flex-direction: column;
 /*  border: 1px solid magenta;*/
    width: 98%;
    align-items: center;
     margin: 5px 0;
     padding: 0 10px ;
}

.viz-question {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:98%;
  /* border: 1px dotted magenta;  */
    
    margin: 5px 0;
    
}

.bar-chart .viz-question {
  justify-content: flex-start;
}

.electricity {
   /* color: #296976; */
    /* background-color: rgba(93, 231, 255, 0.2) 8/
}

.access_to_finance {
    color: rgba(80, 67, 47, 0.87);
   /* background-color: rgba(245, 214, 169, 0.15); */
}

.svg-wrapper svg {
   /* border: 1px dotted cyan;
    border-bottom: 1px solid #828282;  */
    padding: 0 5px;
    border-bottom-color: inherit;

}

rect {
    
    cursor: pointer;
    transition: fill 0.2s linear;


}

rect:hover {
    fill-opacity:0.5;
    stroke:#fff;
    stroke-width:1px;
}

.x-axis path, .y-axis path {
    stroke: #bbc;
}

.x-axis .tick text {

}

.svg-wrapper {
   /* width:120px; */
    /*border: 1px dotted magenta; */
    display: flex;
    flex-direction: column;
}

.viz-category h4, .viz-category h5, .country-label {
    width: 100%;
    color: inherit;
    margin-bottom: 5px;
}


/*
.d3-tip {
    background-color: rgba(255,255,255, 0.9);
    color: #3b342b;
    font-family: "Passion One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s linear;


} */

.d3-tip {
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  border:1px solid #dadada;
  opacity: 0;
  transition: opacity 0.5s linear;
  font-size: 11px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(255, 255, 255, 0.95);
  position: absolute;
  pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.x-axis .tick text {
    display: none;
}

.last-question .last-chart .x-axis .tick text {
    display: inline;
}

.bar-chart .x-axis .tick text {
    display: inline;
}

.y-axis {
    display: none;
}

.last-chart .y-axis {
    display: inline;
}

.bar-chart .y-axis {
  display: inline;
}

.y-axis text {
  fill: #666;
}

.post-content {
  width: 750px;
}

.bar-chart .svg-wrapper {
  margin-bottom: 10px;
}
