#viz-container {
    width:550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 
}

.viz-category {
    display: flex;
    flex-direction: column;
 /*  border: 1px solid magenta;*/
    width: 98%;
    align-items: center;
     margin: 5px 0;
     padding: 0 10px ;
}

.viz-question {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:98%;
  /* border: 1px dotted magenta;  */
    
    margin: 5px 0;
    
}

.electricity {
    color: #296976;
    background-color: rgba(93, 231, 255, 0.2)
}

.access_to_finance {
    color: rgba(80, 67, 47, 0.87);
    background-color: rgba(245, 214, 169, 0.15);
}

.svg-wrapper svg {
   /* border: 1px dotted cyan;
    border-bottom: 1px solid #828282;  */
    padding: 0 5px;
    border-bottom-color: inherit;

}

.electricity .x-axis .domain, .electricity .y-axis .domain  {
    stroke: #296976;
}

.x-axis text {
    fill: #aabfc3;
    

}

.electricity .y-axis text  {
    fill: #296976;
}

.access_to_finance .x-axis .domain, .access_to_finance .y-axis .domain {
    stroke: #69583e;
}

.access_to_finance .y-axis text  {
    fill: #69583e;
} 

.DRC rect, rect.DRC {
    fill: #0E3B43;
  
}

.Ghana rect, rect.Ghana {
    fill: #5B2333;
  
}

.Kenya rect, rect.Kenya {
    fill: #296976;
  
}
.Myanmar rect, rect.Myanmar {
    fill: #564B3D;
  
}
.Rwanda rect, rect.Rwanda {
    fill: #647275;
  
}

rect {
    fill-opacity: 0.6;
    cursor: pointer;
    transition: fill 0.2s linear;

}

rect:hover {
    fill:#bada33;
}

.svg-wrapper {
   /* width:120px; */
    /*border: 1px dotted magenta; */
    display: flex;
    flex-direction: column;
}

.viz-category h4, .viz-category h5, .country-label {
    width: 100%;
    color: inherit;
    margin-bottom: 0;
}

.country-label {
    font-family: "Passion One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin:0;

}

.d3-tip {
    background-color: rgba(255,255,255, 0.9);
    color: #000;
    font-family: "Passion One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s linear;


}

.x-axis .tick text {
    display: none;
}

.first-category .first-question .first-chart .x-axis .tick text {
    display: inline;
}

.y-axis {
    display: none;
}

.last-chart .y-axis {
    display: inline;
}