* {
  box-sizing: border-box;


}

/*body {
  padding: 0;
  margin: 0 auto; 
  color: #58585b;
  font: 17.6px/23.1px calluna,Georgia,"Times New Roman","DejaVu Serif",serif;
  max-width: 728px;
}
*/
#carbon-calculator {
  border: 1px solid #58585b;
  margin-bottom: 0.78125em;
}

#carbon-calculator > h2 {
  padding: 10px;
  background: #58585b;
  color: #fff;
  margin-bottom: 10px;
}

.margins {
  padding: 10px 10px 0;
}

.dropdowns {
  margin: 0 auto;
}

.dropdowns label {
    padding-left: 30px;
    position: relative;
    width: 187px;
    margin: 0;
    display: inline;
    font: inherit;
    margin-bottom: 10px;

}

.dropdowns select {
      position: relative;
    top: -12px;
    width: initial;
}


.dropdowns > div {
  margin-bottom: 10px;
}

.attention:before {
   content: '!';
    position: absolute;
    left: 9px;
    color: #fff;
    z-index: 1;
    top: 2px;
}

.attention:after {
    content: '\025B2';
    position: absolute;
    left: -4px;
    font-size: 181%;
    top: -1px;

}

#summary-stats .attention {
    position: relative;
    padding-left: 23px;
    margin-left: 10px;
}

#summary-stats .attention:before {
  color: #58585b;
  top: -2px;
}

#summary-stats .attention:after {
  top: -5px;
  font-size: 187%;  
}

.not-calculated .bind-total {
  visibility: hidden;
}

.question, .not-calculated .when-calculated-only {
  display: none;
}

.not-calculated .question {
  display: inline;
}

h2 {
  font: bold 25.3px/33px 'Oswald',Helvetica,Arial,"Nimbus Sans L",sans-serif;
  letter-spacing: -0.32px;
}

h3 {
  font: bold 21.12px/27.5px 'Oswald',Helvetica,Arial,"Nimbus Sans L",sans-serif;
  letter-spacing: -0.264px;
}

#summary-stats {
  background-color: #58585b;
  margin-top: 20px;
  color: #fff;
  padding: 10px;
}

.summary div {
 
  background-color: #58585b;
  color: #fff;
  padding: 10px;
}

#summary-stats h2 { /* TO DO : RESET MARGIN AND PADDING ACROSS THE BOARD */
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 90%;
}

.summary-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-icon img {
  margin: auto;
  display: block;
  width: 80px;
}

.summary-data {
  width: 120px;
}

.no-display {
  display:none;
}

.no-margin {
  margin: 0;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.chart-wrapper {
    width: 48%;
    min-width: 300px;
    max-width: 450px;
}

.chart-wrapper:first-child {
  margin-right: 2%;
}

.chart-wrapper h3 {
  margin-top: 0;
}

/*////////////////////
 * SVG STYLES
 */

 text {
  fill: #58585b;
 }

.line {
  fill: none;
  stroke: #051839;
  stroke-width: 0.5;
}

.baseline {
  stroke: #767676;
}

.data-point {
  stroke: #fff;
  stroke-width: 0.5;
  fill: #051839;
  cursor: pointer;
}

.data-point.baseline-point {
  fill: #767676;
}

.axis line, .axis path {
  stroke: #58585b;
}

.axis text {
  font: 4px/5.3px calluna,Georgia,"Times New Roman","DejaVu Serif",serif
}

.y-axis {
   transform: translate(-2px,0);
}

.y-axis path {
  visibility: hidden;
}

.x-axis path, .tick line {
  stroke-width: 0.15;
}

.x-axis .tick line {
    transform: translate(0,0.5px);
  
}


.line-label text {
  font-size: 4px;
 
}

.trendline-label text {
  fill: #051839;
}


/* ///////////////////
 * D3 TIP STYLES BELOW 
 */



.d3-tip {
  padding: 10px;
  background: #58585b;
  color: #fff;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 0.5s linear;
  font-size: 75%;
  line-height: 120%;
  z-index: 999999;
  max-width: 230px;
  
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #58585b;
  position: absolute;
  pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}