:root {
    /*--color-primary-1: #9E3500;*/
    --color-primary-1-dark: hsl(20,100%,10%);
    --color-primary-1: hsl(20,100%,26%);
    --color-primary-1-bright: hsl(20,100%,45%);
    --color-primary-2: #56D7DB;
    --color-secondary-1: #5c5c5c;
    --color-background-1: #fff;
    --color-background-1--semi-transp: #ffffffee;
    --color-background-2: #faf8f8;
    --color-background-3: #f4f0f0;
    --text-color: #181616;
    --text-color-light: #767070;
    --font-family-sans: "Arial Narrow", Arial, sans-serif;
    --font-family-sans-2: "Arial Narrow", Arial, sans-serif;
    --font-family-serif: Georgia, Times, "Times New Roman", serif;
    --font-sans: bold 1.37rem/1.72 var(--font-family-sans);
    --font-serif: 1.24rem/1.7 var(--font-family-serif);
    /* --fallback-text-shadow: 0.5px 0 var(--text-color), -0.5px 0 var(--text-color); */
    /* --fallback-text-shadow--primary: 0.5px 0 var(--color-primary-1), -0.5px 0 var(--color-primary-1); */

    --font-family-sans--test: "Arial Narrow", Arial, sans-serif;
    --font-sans--test: bold 1.37rem/1.72 var(--font-family-sans--test);
    --font-family-serif--test: Georgia, Times, "Times New Roman", serif;
    --font-serif--test: 1.3rem/1.6 var(--font-family-serif--test);

    --text-size-small: 0.95rem;
    --padding: 1rem;
    --padding-2: calc(var(--padding) * 2);
    --padding-0-5: calc(var(--padding) / 2);
    --padding-0-25: calc(var(--padding) / 4);

    --default-letter-spacing: 0.38px;

    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

code {
    font-size: 0.907em;
    padding: 0.1em 0.2em;
    border-radius: 6px;
}

html.wf-librebaskerville-n7-active {
    --font-family-serif: "Libre Baskerville";
    --font-serif: 1.125rem/1.9 var(--font-family-serif);
    --default-letter-spacing: 0;
}

code {
    background-color: var(--color-background-3);
}

html.wf-librebaskerville-n7-active code {
    font-size: 1em;
}

html.wf-roboto-n3-active {
    --font-family-sans-2: Roboto;
}

html.wf-passionone-n4-active {
    --font-family-sans: "Passion One";
    /* --fallback-text-shadow: none; */
    /* --fallback-text-shadow--primary: none; */
    --font-sans: bold 1.45rem/1.6 var(--font-family-sans);
}

body.dark {
    --color-primary-1: #E64D00;
    --color-background-2: #000;
    --color-background-1: #181616;
    --text-color: #fff;
    --text-color-2: #eee;
    --text-color-light: #a6a0a0;
}