<head>
  {% include metatags.html %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
  {% endif %}
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url | replace: '.html', '' }}">
{% if page.amp %}
  <link rel="amphtml" href="{{ page.url | replace: '/blog','/amp' | replace: '.html', ''}}" />
{% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Passion+One|Roboto:100,300" rel="stylesheet" />
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
   {% include schema.html %}
</head>