<div id="full-text">

<div id="inline-contents">
        <h3 class="h2">
            Contents</h3>
    </div>
    <h2>
        Access to electricity</h2>
    <div class="chart-wrapper">
        <div class="charts-left informal-only">
            <div id="chart-0">
                &nbsp;</div>
        </div>
        <div class="charts-right versus">
            <div id="chart-1">
                &nbsp;</div>
            <div id="chart-2">
                &nbsp;</div>
            <div id="chart-3">
                &nbsp;</div>
        </div>
    </div>
    <h2>
        Access to water</h2>
    <div class="chart-wrapper">
        <div class="charts-left informal-only">
            <div id="chart-4">
                &nbsp;</div>
            <div id="chart-5">
                &nbsp;</div>
        </div>
        <div class="charts-right">
            &nbsp;</div>
    </div>
    <h2>
        Access to finance</h2>
    <div class="chart-wrapper">
        <div class="charts-left">
            &nbsp;</div>
        <div class="charts-right versus">
            <div id="chart-6">
                &nbsp;</div>
                        <div id="chart-6b">
                &nbsp;</div>
        </div>
    </div>
    <h2>
        Crime</h2>
    <div class="chart-wrapper">
        <div class="charts-left informal-only">
            <div id="chart-7">
                &nbsp;</div>
            <div id="chart-8">
                &nbsp;</div>
        </div>
        <div class="charts-right formal">
            <div id="chart-9">
                &nbsp;</div>
        </div>
    </div>
    <h2>
        Firm productivity</h2>
    <div class="chart-wrapper">
        <div class="charts-left">
            &nbsp;</div>
        <div class="charts-right versus">
            <div id="chart-10">
                &nbsp;</div>
        </div>
    </div>
    <h2>
        Owner characteristics</h2>
    <div class="chart-wrapper">
        <div class="charts-left informal-only">
            <div id="chart-11">
                &nbsp;</div>
            <div id="chart-12">
                &nbsp;</div>
            <div id="chart-13">
                &nbsp;</div>
        </div>
        <div class="charts-right versus">
            <div id="chart-14">
                &nbsp;</div>
        </div>
    </div>
    <h2>
        Benefits of registration</h2>
    <div class="chart-wrapper">
        <div class="charts-left informal-only">
            <div id="chart-15">
                &nbsp;</div>
        </div>
        <div class="charts-right">
            &nbsp;</div>
    </div>
    <h2>
        Registration requirements</h2>
    <div class="chart-wrapper">
        <div class="charts-left doing-business">
            <div id="chart-17">
                &nbsp;</div>
            <div id="chart-18">
                &nbsp;</div>
            <div id="chart-19">
                &nbsp;</div>
            <div id="chart-20">
                &nbsp;</div>
            <div id="chart-21">
                &nbsp;</div>
            <div id="chart-22">
                &nbsp;</div>
        </div>
        <div class="charts-right informal-only">
            <div id="chart-16">
                &nbsp;</div>
        </div>
    </div>

</div>
