@charset "utf-8";

// Our variables
$base-font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
$base-font-size:   1rem;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.55;

$heading-font-family: 'Passion One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans:             Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$spacing-unit:     30px;

$text-color:       #171919;
$background-color: #fdfdfd;
$background-screen: transparentize($background-color, 0.05);
$brand-color:      #9E3500;
$dark-brand:       darken($brand-color, 15%);
$light-brand:      lighten((desaturate($brand-color, 70%)),20%);
$very-light-brand: lighten((desaturate($brand-color, 70%)),60%);
$dark-brand-desat: darken((desaturate($brand-color, 70%)),15%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 45%);
$grey-color-dark:  darken($grey-color, 15%);

$highlight-color:  #56D7DB;

// Width of the content area
$content-width:    800px;

$on-palm:          657px;
$on-laptop:        800px;
$on-big:           1200px; 

$hero-image:       '/assets/dc-at-night.jpg';

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-min($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
{% if page.layout != 'amp-post' %}
        "non-amp-only",
{% else %}
        "amp-only",
{% endif %}
        "syntax-highlighting"
;
