<script type="application/ld+json">
  
  {
    "@context": "http://schema.org",
    "@type": "{% if page.layout == 'post' %}BlogPosting{% else %}WebPage{% endif %}",
    "mainEntityOfPage": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
    "headline": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
    "datePublished": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% endif %}",
    "dateModified": "{% if page.modified %}{{ page.modified | date_to_xmlschema }}{% elsif page.date %}{{ page.date | date_to_xmlschema }}{% endif %}",
    "description": "{% if page.snippet %}{{page.snippet}}{% else %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 500 }}{% else %}{{ site.description }}{% endif %}{% endif %}",
    "author": {
      "@type": "Person",
      "name": "John Osterman"
    },
    "publisher": {
      "@type": "Organization",
      "name": "John Osterman Communications",
      "logo": {
        "@type": "ImageObject",
        "url": "http://osterman.io/assets/ostercomms-amp.png",
        "width": 115,
        "height": 60
      }
    },
    "image": {
      "@type": "ImageObject",
      "url": "{% if page.image %}{{ site.url }}/assets/{{ page.image}}{% else %}{{ site.url }}/assets/ostercomms-og.png{% endif %}",
      "width": {% if page.type == 'project' %}483{% else %}696{% endif %},
      "height": {% if page.type == 'project' %}338{% else %}364{% endif %}
    }
  }
  </script>