/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $brand-color;
    background-color: $grey-color-light;
    min-height: 56px;
    
    // Positioning context for the mobile navigation icon
    position: relative;
    & .wrapper {
        max-width: 1910px;
    }
}

.site-title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color:$background-color;
    opacity:0;
    width:100%;
    

    &,
    &:visited {
        color: $background-color;
    }
}

.site-title-wrapper {
    background: url(../assets/ostercomms.png) no-repeat;
    background-size: contain;
    display: inline-block;
    width: -webkit-calc(100% - 40px);
    width:         calc(100% - 40px);
    max-width: 351px;
    
}

.site-nav {
    float: right;
    line-height: 63px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $brand-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger, &:focus .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-dark;
    padding: $spacing-unit 0;
    background-color: $grey-color-light;
}

.footer-heading {
    font-size: 1.8rem;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 1.5rem;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 2rem;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        vertical-align: top;
        width: -webkit-calc(50% - 18px);
        width:         calc(50% - 18px);
       /* border: 1px solid $grey-color;*/
        padding: 0;
        display: inline-block;
     /*   background-color: $grey-color-light;*/
        &:nth-of-type(odd){
            margin-right: $spacing-unit;
        }
        @include media-query($on-palm) {
            width: -webkit-calc(100% - #{$spacing-unit} - 2px);
            width:         calc(100% - #{$spacing-unit} - 2px);
        }
& h2 {
    min-height: 72px;
}
    }
}



.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 2.4rem;
}


/**
 * Index
 */

.red {
    background-color: $dark-brand;
    border-bottom: 60px solid $very-light-brand;
    & p, & li, & blockquote {
        color: #fff;
    }
    animation: fadeInSection;
    animation-duration: 3.75s;
    
    
    animation-iteration-count: 1;
    
}

section {
    padding: 20px 0;
    margin-bottom: 30px;
}

#hero {
    overflow-x: hidden;
    position: relative;
    width:100%;
    
    background: url(/assets/tongariro.jpg) no-repeat;
    background-size: cover;
    height: 513px;
    display: flex;
    
    @include media-query($on-palm) {
        
        
        background-position-x: 11%;
        
    }
    
}

#hero-screen {
    flex-grow: 1;
}

#hero-tagline {
   
    color: $text-color;
    font-family: 'Passion One';
   
    text-align: center;
    
    
    
    @include media-query($on-palm) {
       right:20px;
    }
    
    &.hidden {
        display: none;
    }
    
}




h1, .heading-1 {    
    font-size: 4rem;
}

h2, .heading-2 {
    font-size: 3.2rem
        
}

.front-h1 {
   
    margin: 0px auto 30px;
    letter-spacing: 2px;
    text-align: center;
    
    .red & {
        color: #f3f3f3;
    }
   
}



.contact {
    margin-bottom: 0;
    background-color: $very-light-brand;

  & input, & textarea {
    width: 96%;
    border: none;
    background-color: #fff;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    padding: 10px 2%;
    margin: 10px 0;
}

    & textarea {
        resize: vertical;
        overflow: auto;
        height: 200px;
    }

    & input[type="email"] {

        max-width: 400px;
        &::after {
            content: ' ';
            clear:left;
        }
    }

    & button {
        background: $highlight-color;
        border: 1px solid $highlight-color;
        padding: 10px 20px;
        color: #fff;
        border-radius: 5px;
        font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
        text-transform: uppercase

    }
}

#thanks {
    padding: 10px;
    margin-bottom: 20px;
    background-color: $very-light-brand;
    font-size: 1.8rem;
    
    display: none;
    opacity: 0;
    transition: opacity 0.2s linear 0.5s;
        &.processed {
            opacity: 1;
            }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 4.2rem;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 3.2rem;

        @include media-query($on-laptop) {
            
        }
    }

    h3 {
        font-size: 2.6rem;

        @include media-query($on-laptop) {
           
        }
    }

    h4 {
        font-size: 2rem;

        @include media-query($on-laptop) {
           
        }
    }
}

.front-image {
    margin-bottom: $spacing-unit / 4;
}

.tags-div {
        position: relative;
    bottom: 10px;
}

.tag {
    border: 1px solid $highlight-color;
    background-color: $highlight-color;
    padding: $spacing-unit / 8;
    color: #fff;
    border-radius: 4px;
    font-size: 1rem;
    white-space: nowrap;
    
    .post-meta & {
        margin-right: $spacing-unit / 8;
    }
}

.demo {
    margin-bottom: 0;
}





.latest {
    padding-bottom: 0;
}
