@keyframes fadeInText {
    0% {opacity:0;background-color: inherit}
    90% {opacity:0;background-color: inherit}
    
    100% {opacity: 1;background-color: inherit;}
}

@keyframes fadeInSection {
    0% {background-color: $grey-color-light}
    70% {background-color: $grey-color-light}
    85% {background-color: $light-brand}
    100% {background-color: $dark-brand;}
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $brand-color;
    background-color: $grey-color-light;
    min-height: 56px;
    
    // Positioning context for the mobile navigation icon
    position: relative;
    & .wrapper {
        max-width: 1910px;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color:$background-color;
    opacity:0;
    width:100%;
    

    &,
    &:visited {
        color: $background-color;
    }
}

.site-title-wrapper {
    background: url(../assets/ostercomms.png) no-repeat;
    background-size: contain;
    display: inline-block;
    width: -webkit-calc(100% - 40px);
    width:         calc(100% - 40px);
    max-width: 351px;
    
}

.site-nav {
    float: right;
    line-height: 63px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $brand-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger, &:focus .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-dark;
    padding: $spacing-unit 0;
    background-color: $grey-color-light;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        vertical-align: top;
        width: -webkit-calc(50% - 17px);
        width:         calc(50% - 17px);
       /* border: 1px solid $grey-color;*/
        padding: 0;
        display: inline-block;
     /*   background-color: $grey-color-light;*/
        &:nth-of-type(odd){
            margin-right: $spacing-unit;
        }
        @include media-query($on-palm) {
            width: -webkit-calc(100% - #{$spacing-unit} - 2px);
            width:         calc(100% - #{$spacing-unit} - 2px);
        }
& h2 {
    min-height: 72px;
}
    }
}



.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Index
 */

.red {
    background-color: $dark-brand;
    & p, & li, & blockquote {
        color: #fff;
    }
    animation: fadeInSection;
    animation-duration: 3.75s;
    
    
    animation-iteration-count: 1;
    
}

section {
    padding: 30px 0;
    margin-bottom: 30px;
}

#hero {
    overflow-x: hidden;
    position: relative;
/*    background: url($hero-image) no-repeat;
    background-size: cover; */
    width:100%;
 /*   height: 100%;
    padding-bottom: 36.54%;*/
    padding: 50px 0;
   /* border-top: 1px solid $brand-color;
    border-bottom: 1px solid $brand-color;*/    
    margin: 50px auto;
    /*background-color: $very-light-brand;*/
    
    @include media-query($on-palm) {
        
        
        background-position-x: 11%;
        
    }
}

#hero-tagline {
   
    color: $text-color;
    font-family: 'Passion One';
    font-size: 36px;
    text-align: center;
    
    
    
    @include media-query($on-palm) {
        font-size: 13px;
        right:20px;
    }
    @include media-query-min($on-big) {
        font-size: 36px;
    }
    
    &.hidden {
        display: none;
    }
    
}

#hero-tagline div {
    position: relative;
    & span {
        position: relative;    
        transition: left 0.4s ease-in;
        left:200%;
            &.processed {
                left:0%;  
            }

    } 
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $brand-color;
    position: absolute;
    bottom: 5px;
    left: -webkit-calc(50% - 10px);
    left:         calc(50% - 10px);
    transition: opacity 1s ease-in-out;
    &.on {
        opacity: 1;
    }
    &.off {
        opacity:0;
    }
    
}

#front-content {
    
    animation: fadeInText;
    animation-duration: 3.75s;
    
    
    animation-iteration-count: 1;
    
    
    
    
}



.front-h1 {
    text-align: center;
    margin: 30px auto;
    letter-spacing: 2px;
    font-size: 32px;
    .red & {
        color: #fff;
    }
   
}


.contact {
    margin-bottom: 30px;

  & input, & textarea {
    width: 100%;
    border: none;
    background-color: $very-light-brand;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    padding: 10px;
    margin: 10px 0;
}

    & textarea {
        resize: vertical;
        overflow: auto;
        height: 200px;
    }

    & input[type="email"] {

        max-width: 400px;
        &::after {
            content: ' ';
            clear:left;
        }
    }

    & button {
        background: none;
        border: 1px solid $brand-color;
        padding: 10px 20px;
        color: $brand-color;
        border-radius: 5px;
        font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
        text-transform: uppercase

    }
}

#thanks {
    padding: 10px;
    margin-bottom: 20px;
    background-color: $very-light-brand;
    font-size: 18px;
    
    display: none;
    opacity: 0;
    transition: opacity 0.2s linear 0.5s;
        &.processed {
            opacity: 1;
            }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.front-image {
    margin-bottom: $spacing-unit / 4;
}

.tags-div {
        position: relative;
    bottom: 10px;
}

.tag {
    border: 1px solid $light-brand;
    padding: $spacing-unit / 8;
    color: $light-brand;
    border-radius: 4px;
    font-size: 10px;
    white-space: nowrap;
    
    .post-meta & {
        margin-right: $spacing-unit / 8;
    }
}

.demo {
    margin-bottom: 0;
}

