/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $brand-color;
    background-color: $grey-color-light;
    min-height: 56px;
    z-index: 9;
    // Positioning context for the mobile navigation icon
    position: relative;
    & .wrapper {
        max-width: 1910px;
    }
}

.site-title {
    font-size: 2px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color:$background-color;
    opacity:0;
    width:100%;
    

    &,
    &:visited {
        color: $background-color;
    }
}

.site-title-wrapper {
    background: url(/assets/ostercomms.png) no-repeat 0 4px;
    background-size: contain;
    display: inline-block;
    width: -webkit-calc(100% - 40px);
    width:         calc(100% - 40px);
    max-width: 275px;
    height:55px;
    
    @include media-query($on-palm) {
        height: 35px;
        top: 8px;
        position: relative;
        background-position: 0 0;
    }
}

#sharer-outer-wrapper {
    width: 100%;
    margin: 0 auto;
    &.sharer-second {
        position: relative;
        background-color: $background-color;
        z-index: 2;
    }
    
    &.sharer-first {
        position: fixed;
        height: 20px;
     //   box-shadow: $background-screen 0 5px 5px;
    //    background-color: $background-screen;
        padding: 10px 0 2px;
        z-index: 1;
        @include media-query($on-laptop) {
            height: 30px;
            padding-top: 0;
        }
        
    
    }
}

#sharer-inner-wrapper {
    width: 100%;
    margin: 0px auto;
    position: relative;
    .sharer-second & {
       padding: $spacing-unit 0 80px;
        
        height: 20px;
        max-width: 740px;
        @include media-query($on-laptop) {
            max-width: 100%;
            padding-left: $spacing-unit / 2;
            padding-right: $spacing-unit / 2;
            padding-bottom: 109px;
            width: calc(100% - 30px);
            height: 30px;
        }
        @include media-query($on-palm) {
            padding-top: 20px;
            opacity: 0.5;
        }
        
    }
    .sharer-first & {
        max-width: 840px;
    }
}
#back-to-top {
    display: none;
}
#sharers {
    
    position: absolute;
    
    display: flex;
    
    background-color: rgba(255,255,255,0.5);
  
    justify-content: space-between;
    .sharer-first & {
        flex-direction: column;
        width: 20px;
        height: 70px;
        @include media-query($on-laptop) {
            right:0;
            width: 30px;
            height: 130px;
            padding: 0 0 5px 5px;
            & #back-to-top {
                display: block;
            }

        }
    }
    .sharer-second  & {
        height: 20px;
        width: 70px;
        @include media-query($on-laptop) {
            height: 30px;
            width: 100px;
        }
    }
}

.facebook-share {
     background: url(/assets/facebook-white-on-blue.svg) no-repeat center;
    
    
}

.twitter-share {
     background: url(/assets/Twitter_Logo_White_On_Blue.svg) no-repeat center;
    
}

.linkedin-share {
    background: url(/assets/linked-in.svg) no-repeat center;
    
}

#back-to-top {
    background: url(/assets/back-to-top.svg) no-repeat center;
    
}

.site-nav {
    float: right;
    line-height: 63px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        font-family: $heading-font-family;
        &:hover {
                border-bottom-width: 0;
                color: $highlight-color;
            
                
            }

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $brand-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &.open .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
            
        }
        
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-dark;
    padding: $spacing-unit 0;
    background-color: $grey-color-light;
    font-family: $sans;
    font-weight: 300;
}

.footer-heading {
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    font-size: 1.5rem;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

.page-content {
   margin-top: 20px;
}

.page-heading {
    font-size: 20px;
    font-size: 2.0rem;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        vertical-align: top;
        width: -webkit-calc(50% - 18px);
        width:         calc(50% - 18px);
       /* border: 1px solid $grey-color;*/
        padding: 0;
        display: inline-block;
     /*   background-color: $grey-color-light;*/
        &:nth-of-type(odd){
            margin-right: $spacing-unit;
        }
        @include media-query($on-palm) {
          width: 100%;
            &:nth-of-type(odd){
            margin-right: 0;
        }
    
        }
& h2 {
    min-height: 72px;
}
    }
}



.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    font-family: $sans;
}

.post-link {
    display: block;
    font-size: 24px;
    font-size: 2.4rem;
}


/**
 * Index
 */

.red {
    background-color: $dark-brand;
    border-bottom: 60px solid $very-light-brand;
    & p, & li, & blockquote {
        color: #fff;
    }
    animation: fadeInSection;
    animation-duration: 3.75s;
    
    
    animation-iteration-count: 1;
    
}

section {
    padding: 20px 0;
    margin-bottom: 30px;
}

#hero {
    overflow-x: hidden;
    position: relative;
    width:100%;
    z-index: -9;
    
    background: url(/assets/tongariro.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 40%;
    display: flex;
    
    @include media-query($on-palm) {
        
        padding-bottom: 60%;
        background-position-x: 34%;
        
        
    }
    
}

#hero-screen {
    flex-grow: 1;
}

#hero-tagline {
   
    color: $text-color;
    font-family: 'Passion One';
   
    text-align: center;
    
    
    
    @include media-query($on-palm) {
       right:20px;
    }
    
    &.hidden {
        display: none;
    }
    
}




h1, .heading-1 {    
    font-size: 50px;
    font-size: 5.0rem;
    font-family: $sans;
    line-height: 1.2;
    font-weight: 100;
    @include media-query($on-palm) {
       font-size: 30px;
       font-size: 3.0rem;
        font-weight: 300;
        position: relative;
        bottom: 3px;
    }
}

h2, .heading-2 {
    font-size: 32px;
    font-size: 3.2rem
        
}

.front-h1 {
    font-family: $heading-font-family;
    margin: 0px auto 30px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 50px;
    font-size: 5.0rem;
    
    .red & {
        color: #f3f3f3;
    }
   
}

#front-content {
    font-family: $heading-font-family;
    font-size: 30px;
    font-size: 3.0rem;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
     @include media-query($on-palm) {
       font-size: 20px;
       font-size: 2.0rem;
    }
}

.contact {
    margin-bottom: 0;
    background-color: $very-light-brand;

  & input, & textarea {
    width: 96%;
    border: none;
    background-color: #fff;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    padding: 10px 2%;
    margin: 10px 0;
      font-family: $sans;
}

    & textarea {
        resize: vertical;
        overflow: auto;
        height: 200px;
    }

    & input[type="email"] {

        max-width: 400px;
        &::after {
            content: ' ';
            clear:left;
        }
    }

    & button {
        background: $highlight-color;
        border: 1px solid $highlight-color;
        padding: 10px 20px;
        color: #fff;
        border-radius: 5px;
        
        text-transform: uppercase

    }
    
    &.in-content {
        margin: $spacing-unit 0;
    }
}

.featured hr {
    margin-bottom: $base-line-height * $base-font-size;
}

button {
    font-family: $heading-font-family;
    font-size: 23px;
    font-size: 2.3rem;
    letter-spacing: 1px;
}

#thanks {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-size: 1.8rem;
    border: 2px solid $highlight-color;
    border-radius: 15px;
    font-family: $sans;
    display: none;
    opacity: 0;
    transition: opacity 0.2s linear 0.5s;
        &.processed {
            opacity: 1;
            }
    & p {
        margin: 0;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit * 1.5;
    z-index: 3;
    position: relative;
}

.post-meta {
    z-index: 2;
    position: relative;
}

.post-title {
  z-index: 2;
    position: relative;

    @include media-query($on-laptop) {
        
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    
    .layout-page & p:first-child {
        position: relative;
        z-index: 2;
    }

    h2 {
        font-size: 32px;
        font-size: 3.2rem;

        @include media-query($on-laptop) {
            
        }
    }

    h3 {
        font-size: 26px;
        font-size: 2.6rem;

        @include media-query($on-laptop) {
           
        }
    }

    h4 {
        font-size: 20px;
        font-size: 2.0rem;

        @include media-query($on-laptop) {
           
        }
    }
    
    p:first-child::first-letter {
        font-family: $heading-font-family;
        color: $brand-color;
        float: left;
        font-size: 85px;
        font-size: 8.5rem;
        line-height: 0.55em;
        margin-right: 0.5rem;
      
    }
}

.tweet-this.processed {
    
    padding-right: 1.5em;
    background: url(/assets/Twitter_Logo_Blue.svg) no-repeat right;
    
    background-size: 31px;
}

.front-image, .page-image, figure {
    
    border: 1px solid #828282;
    padding: 5px;
    background-color: #fff;
    transition: border-color 0.2s linear;

    
}

figure {
    display: inline-table;
    border-bottom-width: 0;
}

figcaption {
    font-family: $heading-font-family;
    letter-spacing: 0.6px;
    color: $grey-color;
    display: table-caption;
    caption-side: bottom;
    border: 1px solid #828282;
    border-top-width: 0;
    padding: 5px 8px;
    background-color: #fff;
}

.front-image, .page-image {
    width: calc(100% - 12px);
}

.figure-small {
    width: calc(50% - #{$spacing-unit + 15});
    min-width:225px;
    margin-right: $spacing-unit;
}
    

.front-image:hover, .front-image:focus {
  border-color: $highlight-color;   
}

.project-image {
    max-width: 495px;
}

.tags-div {
        position: relative;
    bottom: 10px;
}

.tag {
    border: 1px solid $highlight-color;
    background-color: $highlight-color;
    padding: $spacing-unit / 8;
    color: #fff;
    border-radius: 4px;
    font-size: 10px;
    font-size: 1.0rem;
    white-space: nowrap;
    font-family: $sans;
    
    .post-meta & {
        margin-right: $spacing-unit / 8;
    }
}

.demo {
    margin-bottom: 0;
}

.rss-subscribe {
    font-family: $sans;
}



.latest {
    padding-bottom: 0;
}

.highlight {
    color: $highlight-color;
}

.display-none {
    display: none;
}
