* {
  box-sizing: border-box;


}

body {
  padding: 0;
  margin: 0 auto; /* TODO: RESET ALL MARGINS AND PADDING */
  color: #58585b;
  font: 17.6px/23.1px calluna,Georgia,"Times New Roman","DejaVu Serif",serif;
  max-width: 1280px;
}

.margins {
  padding: 0 50px;
  margin: 0;
}

.dropdowns {
  margin: 0 auto;
  padding-left: 30px;
  position: relative;
}

.attention:before {
   content: '!';
    position: absolute;
    left: 13px;
    color: #fff;
    z-index: 1;
    top: 2px;
}

.attention:after {
    content: '\025B2';
    position: absolute;
    left: 0;
    font-size: 181%;
    top: -1px;

}

h2 {
  font: bold 25.3px/33px 'Oswald',Helvetica,Arial,"Nimbus Sans L",sans-serif;
  letter-spacing: -0.32px;
}

h3 {
  font: bold 21.12px/27.5px 'Oswald',Helvetica,Arial,"Nimbus Sans L",sans-serif;
  letter-spacing: -0.264px;
}

#summary-stats {
  background-color: #58585b;
  margin-top: 20px;
}

.summary div {
 
  background-color: #58585b;
  color: #fff;
  padding: 10px;
}

.summary div h2 { /* TO DO : RESET MARGIN AND PADDING ACROSS THE BOARD */
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 90%;
}

.summary-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-icon img {
  margin: auto;
  display: block;
}

.summary-data {
  width: 170px;
}

.no-display {
  display:none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

/*////////////////////
 * SVG STYLES
 */

 text {
  fill: #58585b;
 }

.line {
  fill: none;
  stroke: #051839;
  stroke-width: 3px;
}

.baseline {
  stroke: #767676;
}

.data-point {
  stroke: #fff;
  stroke-width: 3px;
  fill: #051839;
  cursor: pointer;
}

.data-point.baseline-point {
  fill: #767676;
}

.axis line, .axis path {
  stroke: #58585b;
}

.axis text {
  font: 17.6px/23.1px calluna,Georgia,"Times New Roman","DejaVu Serif",serif
}

.y-axis {
   transform: translate(-10px,0);
}

.y-axis path {
  visibility: hidden;
}

.line-label {
  font-size: 75%;
  text-anchor: start;
}

.trendline-label {
  fill: #051839;
}


/* ///////////////////
 * D3 TIP STYLES BELOW 
 */



.d3-tip {
  padding: 10px;
  background: rgba(230,231,232,0.9);
  border: 1px solid #58585b;
  opacity: 0;
  transition: opacity 0.5s linear;
  font-size: 75%;
  line-height: 120%;
  z-index: 999999;
   font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #58585b;
  position: absolute;
  pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}