body {
  padding: 0 50px 50px;
  color: #58585b;
  font: 17.6px/23.1px calluna,Georgia,"Times New Roman","DejaVu Serif",serif;
}


.dropdowns {
  margin: 0 auto 25px auto;
}

h2 {
  font: bold 25.3px/33px 'Oswald',Helvetica,Arial,"Nimbus Sans L",sans-serif;
  letter-spacing: -0.32px;
}

h3 {
  font: bold 21.12px/27.5px 'Oswald',Helvetica,Arial,"Nimbus Sans L",sans-serif;
  letter-spacing: -0.264px;
}

#summary-stats {
  border: 1px solid #58585b;
  padding: 0 15px;
}

.no-display {
  display:none;
}

/*////////////////////
 * SVG STYLES
 */

 text {
  fill: #58585b;
 }

.line {
  fill: none;
  stroke: #051839;
  stroke-width: 3px;
}

.baseline {
  stroke: #767676;
}

.data-point {
  stroke: #fff;
  stroke-width: 3px;
  fill: #051839;
  cursor: pointer;
}

.data-point.baseline-point {
  fill: #767676;
}

.axis line, .axis path {
  stroke: #58585b;
}

.axis text {
  font: 17.6px/23.1px calluna,Georgia,"Times New Roman","DejaVu Serif",serif
}

.y-axis {
   transform: translate(-10px,0);
}

.y-axis path {
  visibility: hidden;
}

.line-label {
  font-size: 75%;
}

.trendline-label {
  fill: #051839;
}




/* ///////////////////
 * D3 TIP STYLES BELOW 
 */



.d3-tip {
  padding: 10px;
  background: rgba(88,88,91, 0.2);
  
  opacity: 0;
  transition: opacity 0.5s linear;
  font-size: 75%;
  line-height: 120%;
  z-index: 9;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(88,88,91, 0.2);
  position: absolute;
  pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}