<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NLPGT8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NLPGT8');</script>
<!-- End Google Tag Manager -->

    {% include header.html %}

    <div id="hero"><div id="hero-screen"></div></div>
      
      <section class="red">
         <div id="front-content" class="wrapper">
            {{ content }}
          </div>
       </section>
       <section class="latest">
          <div class="wrapper">
{% assign featured = site.posts | where: "featured", true %}              
      <h2>Featured project{% if featured.size > 1 %}s{% endif %}</h2>
        
    {% for feature in featured %}
              <div class="featured">
        <h2>
          <a class="post-link" href="{{ feature.url | prepend: site.baseurl }}">{{ feature.title }}</a>
        </h2>
            
            {% if feature.image %}
    <a href="{{ feature.url | prepend: site.baseurl }}"><img class="front-image" src="/assets/{{ feature.image }}" /></a>
            {% endif %}
            {% if feature.tags %}
              <br />
                {% for tag in feature.tags %}
        <span class="tag">{{ tag }}</span>    
                {% endfor %}
            
            {% endif %}
  <p>{{ feature.excerpt }}</p>
                   {% if forloop.index < forloop.length %}
              <hr />
                   {% endif %}
              </div>
             
             
                                                  
              {% endfor %}
            
          </div>
      </section>
      <section class="contact">
       <div class="wrapper">
           <h2>What's your challenge? Get in touch now.</h2>
        {% include contact.html %}
          </div> 
      </section>
     
    {% include footer.html %}

  </body>

</html>
