<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NLPGT8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NLPGT8');</script>
<!-- End Google Tag Manager -->

    {% include header.html %}{% include ie-message.html %}
    <section class="latest top">
      <div class="wrapper">
        <p class="banner-skills">Web apps and data visualization for mission-driven organizations.
        Python, JavaScript, HTML, CSS; Svelte, D3.js, Mapbox, NodeJS; AWS, Azure, Google</p>
          <p>
            &#128075;&#127995; Hello. I am a full-stack developer specializing in data visualization and data-driven web apps. I work full-time for <a href="//pewtrusts.org">the Pew Charitable Trusts</a> but am occasionally available for side projects.
          </p>
          <div class="profesh">
            <h2>Professional experience</h2>
            <dl>
              <div>
                <dt>The Pew Charitable Trusts</dt>
                <dd>Principal Associate, Web Developer, 2018–present</dd>
              </div>
              <div>
                <dt>John Osterman Communications</dt>
                <dd>Freelance Consultant, 2016–present</dd>
              </div>
              <div>
                <dt>Resources for the Future</dt>
                <dd>Communications Specialist (part-time), 2017–18</dd>
              </div>
              <div>
                <dt>Center for Global Development</dt>
                <dd>Digital Communications Director (and previous titles), 2008–16</dd>
              </div>
            </dl>
          </div>
      </div>
    </section>      
    <section class="latest">
      <div class="wrapper">
            <h2>Select posts and projects</h2>
{% assign featured = site.posts | where: "featured", true %}              
        <div class="featured-grid">
    {% for feature in featured %}
              <div class="featured">
                 
                  {% if feature.image %}
                  <a href="{{ feature.url | prepend: site.baseurl }}"><img loading="lazy" class="front-image project-image" src="/assets/{{ feature.image }}" /></a>
                  {% endif %}
                  <div class="featured-bottom">
                   <div>
                     <h2>
                        <a class="post-link" href="{{ feature.url | prepend: site.baseurl }}">{{ feature.title }}</a>
                      </h2>
                     {% if feature.excerpt %}
                     {{ feature.excerpt }}
                     {% else %}
                     <p></p>
                     {% endif %}
                     {% if feature.tags %}
                   </div>
                   <div class="tags">
                     
                     {% for tag in feature.tags %}
                     <span class="tag">{{ tag }}</span>
                     {% endfor %}
                     
                    </div>
                     {% endif %}
                   
                  </div>
                
              </div>
              
              {% endfor %}
              </div>
            
          </div>
      </section>

      <section id="front-content-section" class="red">
         <div id="front-content" class="wrapper">
            <div id="front-content-inner">
              <div class="category-group">
                <div class="work-category">
                 
                    <h2>Front-end web development</h2>
                    <p>Digital-first publications and data explorers. Pattern libraries and reusable components.</p>
                  
                </div>
                <div class="work-category">
                 
                    <h2>Digital + print publications</h2>
                    <p>Digital and print production—and bridging the gap. Workflow improvements for streamlined publishing.</p>
                  </div>
              </div>
              <div class="category-group">
                <div class="work-category">                 
                  <h2>Editing + writing</h2>
                    <p>Strong editing of technical, research, and marketing outputs. Writing on message and to the point. Audience analysis and message tailoring.</p>
                </div>
                <div class="work-category">
                    <h2>Data visualization</h2>
                    <p>Interactive and static data visualizations for web and print. D3.js, Highcharts, MapBox. Technical chops and design sense.</p>
                  </div>
              </div>
            </div>
          </div>
       </section>


       
      
   


    {% include footer.html %}
<script src="/js/scripts.js" type="text/javascript"></script>
  </body>

</html>
