---
layout: default
---
<article class="post">

  <header class="post-header">
  
  </header>

  <div class="post-content">
    {{ content }}
</div>
      <div style="position: relative; padding-bottom: 131%; padding-top: 30px; height: 0; overflow: hidden;"><object style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" data="../assets/osterman-resume-081916.pdf" type="application/pdf" width="100%" height="100%">

  <p>It appears you don't have a PDF plugin for this browser.
  <a href="../assets/osterman-resume-081916.pdf">click here to
  download the my resume.</a></p>

          </object></div>
  

</article>